<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Novo Jogo</title>
    <link rel="stylesheet" href="/css/novo.css" />
    <link rel="shortcut icon" href="/img/spotifyLogo.png" type="image/x-icon">
</head>

<body>
    <div class="containerGrande">
        <div class="img">
            <img src="/img/xtranho.gif" alt="spotify" />
        </div>
        <div class="form-container">
        
            <form action="/jogos/novo" method="POST">
                <h2 class="titulo">Nova Música</h2>
                <p class="pSup">
                    <label>Título:</label><br />
                    <input name="titulo" required/>
                </p>

                <p>
                    <label>Gênero:</label><br />
                    <input name="genero" required placeholder="Ex.: Rap, Pop, Eletrônica"/>
                </p>

                <p>
                    <label>Playlist:</label><br />
                    <select name="amigoId" required>
                        <% amigos.forEach(a => { %>
                            <option value="<%= a.id %>">
                                <%= a.nome %> (<%= a.email %>)
                            </option>
                        <% }) %>
                    </select>
                </p>

                <p class="acoes">
                    <button type="submit" class="salvar">Salvar</button>
                    <a href="/jogos" class="cancelar">Cancelar</a>
                </p>
            <div class="spotify-logo">
                <img src="/img/spotifyLogoWhite.png" alt="Spotify" class="spotifyLogoWhite">
            </div>

            </form>
        </div>
    </div>
</body>
</html>