:root {
    --vermelho: #DD1C1A;
    --vermelhoEscuro: #961715;
    --verdeSpotify: #1DB954;
    --verdeClaroSpotify: #0de257;
    --verdeEscuroSpotify: #1d9246;
    --cinzaSpotify: #535353;
    --cinzaEscuroSpotify: #2e2e2e;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}
/* imagem de fundo */
body::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/img/fundo.jpg"); /* sua imagem */
  background-size: cover;

  z-index: -2;
}
/* camada de opacidade */
body::after {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.756); /* 👈 CONTROLE AQUI */
  z-index: -1;
}


h1 {
    color: var(--verdeClaroSpotify);
    text-align: center;
}

h2 {
    margin: 0;
}
.titulo {
  color: white;
  margin-top: 10px;
  margin-bottom: -15px;
  text-align: center;
  font-size: 18pt;
}
.pSup {
    margin-top: 40px;
}
.containerGrande {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}
.img img {
    width: 377px;
    max-width: 90%;
    border-radius: 10px 10px 0 0;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    background-color: var(--cinzaEscuroSpotify);
    padding: 20px;
    width: 300px;
    margin-top: 5%;
}
input {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    padding: 7px;
}
.salvar {
    cursor: pointer;
    color: white;
    background-color: var(--verdeSpotify);
    border-radius: 10px;
    width: 100px;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    border: none;
    font-size: 11pt;
}
.salvar:hover {
    background-color: #1d9246;
}
.cancelar {
    display: inline-block;
    color: white;
    cursor: pointer;
    background-color: var(--vermelho);
    border-radius: 10px;
    width: 100px;
    padding: 3.6px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    text-decoration: none;
    text-align: center;
}
.cancelar:hover {
    background-color: var(--vermelhoEscuro);
}
select {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    padding: 7px;
    background-color: white;
}
.acoes {
    display: flex;
    justify-content: center; /* centraliza */
    gap: 15px;               /* espaço entre os botões */
    margin-top: 20px;
}
