<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Editar Amigo</title>
    <link rel="stylesheet" href="/css/novo.css" />
    <link rel="shortcut icon" href="/img/spotifyLogo.png" type="image/x-icon">
</head>

<body>
    <h1>Editar Amigo</h1>

    <div class="form-container">
        <form action="/amigos/editar/<%= amigo.id %>" method="POST">
            <p>
                <label>Nome:</label><br />
                <input 
                    name="nome" 
                    value="<%= amigo.nome %>" 
                    required 
                />
            </p>

            <p style="text-align: center; margin-top: 20px;">
                <button type="submit" class="salvar">Salvar</button>
                <a href="/amigos" class="cancelar">Cancelar</a>
            </p>
        </form>
    </div>
</body>
</html>