<!-- Arquivo: views/amigos/novo.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Novo Amigo</title>
    <link rel="stylesheet" href="/css/novo.css" />
</head>

<body>
    <div class="containerGrande">
        <div class="img">
            <img src="/img/spotify.png" alt="spotify" />
        </div>

        <div class="form-container">
            <form action="/amigos/novo" method="POST">
            <h2 class="titulo">Novo Artista</h2>

            <p class="pSup">
            <label>Nome Artistico:</label><br />
            <input name="nome" required placeholder="Teto" autocomplete="off"/> 
            </p>

            <p>
                <label>Gênero:</label><br />
                <input name="email" required placeholder="Masculino"autocomplete="off"/>
            </p>

            <p class="acoes">
                <button type="submit" class="salvar">Salvar</button>
                <a href="/amigos" class="cancelar">Cancelar</a>
            </p>
    </form>
    </div>
    </div>
</body>
</html>
